/* ==========================================================================
  Styles Contrast
  ========================================================================== */

.font-size {
    font-size: 18px !important;
}

.contrast *:focus {
    outline: 5px solid red !important;
}

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6 {
    color: #1AEBFF !important;
}

.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a{
    color: yellow !important;
    text-decoration: underline;
}

.contrast a:hover{
    background-color: #333333;
    text-decoration: underline;
}

.contrast a:focus{
    background-color: #333333;
    color: yellow !important;
    text-decoration: underline;
}

.contrast a:visited{
    color: purple !important;
    text-decoration: underline;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: green !important;
    border: none !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast .label {
    background: white !important;
    color: black !important;
}

.contrast table,
.contrast td,
.contrast th {
    background: black !important;
    color: white !important;
}